<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="mysqlHost" value="localhost"/>
    <add key="mysqlUser" value="root"/>
    <add key="mysqlPwd" value="zangbc"/>
    <add key="mysqlConnDb" value="jobdb"/>
  </appSettings>
  <connectionStrings>
    <add name="MysqlConn" connectionString="server=localhost;User Id=root;password=zangbc;Database=jobdb"/>
  </connectionStrings>
</configuration>